In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("au1206/20-newsgroup-original")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.10)
Path to dataset files: /Users/jessihudgins/.cache/kagglehub/datasets/au1206/20-newsgroup-original/versions/1

In [2]:
import os
import pandas as pd

data_directory = r"/Users/jessihudgins/.cache/kagglehub/datasets/au1206/20-newsgroup-original/versions/1/20_newsgroup/20_newsgroup" #use the path you are given
contents = os.listdir(data_directory)

print(contents)

texts = [] #list to store text from each file
category = [] #list to store each category
index = [] #list to store each id
category_index = {} #mapping category names to numeric labels
index_counter = 0  # Counter for unique row IDs
#looping through each folder in teh directory
for folder_name in sorted(os.listdir(data_directory)):
    path =  os.path.join(data_directory, folder_name)

    if os.path.isdir(path):
        #storing new category ID for each directory
        category_id = len(category_index)
        category_index[folder_name] = category_id

        #looping through each file in the folder
        for file_name in sorted(os.listdir(path)):
            file_path = os.path.join(path, file_name)

            if os.path.isfile(file_path):
                with open(file_path, encoding='latin-1') as file:
                    text = file.read()

                    #this skips the header if there is one
                    header = text.find('\n\n')
                    if header != 1:
                        text = text[header:]
                    texts.append(text.strip())
                    category.append(category_id)
                    index.append(index_counter)  # Assign unique ID
                    index_counter += 1 

#sanity checking
print(f'Number of texts: {len(texts)} \n')
print(f'Number of categories: {len(category)} \n')
print(f'Categories to Index Mapping: \n {category_index}')

#creating a dataframe

df = pd.DataFrame({
    'text': texts,
    'category': category,
    'Id': index 
})
df

['talk.politics.mideast', '.DS_Store', 'rec.autos', 'comp.sys.mac.hardware', 'alt.atheism', 'rec.sport.baseball', 'comp.os.ms-windows.misc', 'rec.sport.hockey', 'sci.crypt', 'sci.med', 'talk.politics.misc', 'rec.motorcycles', 'comp.windows.x', 'comp.graphics', 'comp.sys.ibm.pc.hardware', 'sci.electronics', 'talk.politics.guns', 'sci.space', 'soc.religion.christian', 'misc.forsale', 'talk.religion.misc']
Number of texts: 19997

Number of categories: 19997

Categories to Index Mapping:
 {'alt.atheism': 0, 'comp.graphics': 1, 'comp.os.ms-windows.misc': 2, 'comp.sys.ibm.pc.hardware': 3, 'comp.sys.mac.hardware': 4, 'comp.windows.x': 5, 'misc.forsale': 6, 'rec.autos': 7, 'rec.motorcycles': 8, 'rec.sport.baseball': 9, 'rec.sport.hockey': 10, 'sci.crypt': 11, 'sci.electronics': 12, 'sci.med': 13, 'sci.space': 14, 'soc.religion.christian': 15, 'talk.politics.guns': 16, 'talk.politics.mideast': 17, 'talk.politics.misc': 18, 'talk.religion.misc': 19}

                                                    text  category     Id
0      Archive-name: atheism/resources\nAlt-atheism-a...         0      0
1      Archive-name: atheism/introduction\nAlt-atheis...         0      1
2      In article <65974@mimsy.umd.edu>\nmangoe@cs.um...         0      2
3      dmn@kepler.unh.edu (...until kings become phil...         0      3
4      In article <N4HY.93Apr5120934@harder.ccr-p.ida...         0      4
...                                                  ...       ...    ...
19992  In article <930426.140835.4f1.rusnews.w165w@ma...        19  19992
19993  In article <1993Apr27.073723.18577@csis.dit.cs...        19  19993
19994  In article <1rc1f3INN7rl@emx.cc.utexas.edu> \n...        19  19994
19995  In article <1993Apr26.231845.13843@digi.lonest...        19  19995
19996  In article <C64H4w.BFH@darkside.osrhe.uoknor.e...        19  19996

[19997 rows x 3 columns]

In [3]:
df.to_csv('Data_for_Hitachi_1_Project_tears.csv', index=False)

In [ ]:
# Convert text to lowercase
df = df.apply(lambda x: x.str.lower() if x.dtype == "object" else x)
df['text'] = df['text'].str.strip()
df['text'] = df['text'].str.replace('[.,]', '', regex=True)
df

In [ ]:
duplicates = df[df.duplicated(subset=['text',"category"], keep=False)]

# Display the duplicate rows
print(duplicates)

In [ ]:
df = df.drop_duplicates(subset=['text', "category"])
df

In [ ]:
duplicates = df[df.duplicated(subset=['text', "category"], keep=False)]

# Display the duplicate rows
print(duplicates)

In [ ]:
df_dict = df.to_dict()

In [ ]:
df_dict = df.to_dict(orient="records")
df_dict

In [ ]:
df_dict = df.set_index("Id").to_dict(orient="index")

In [ ]:
df.to_csv('Data_for_Hitachi_1_Project.csv', index=False)